* {
  margin: 0;
  padding: 0;
}

html, body {
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  background-color: #2b2c28;
  position: relative;
}

nav {
  background-color: #131515;
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: flex-end;
}

nav p {
  cursor: pointer;
  transition: 200ms ease;
  color: white;
}

.nav-itens {
  display: flex;
  height: 100%;
  align-items: center;
  margin-right: 3em;
  gap: 35px;
}

.nav-itens p:hover {
  color: green;
}

.aligner {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Coisas pro celular */

nav img {
  width: 2em;
  display: none;
  cursor: pointer;
  filter: invert();
}

.cellphone {
  position: absolute;
  width: 40vw;
  height: 100vh;
  background-color: darkgray;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transform: translateX(40vw);
}

.cellphone p {
  margin-right: 20px;
}

.close {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#cellphoneNavBar.ativar {
  animation-name: slide;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes slide {
  to {
    transform: translateX(0vw);
  }
}

@media (max-width: 442px) {
  nav img {
    display: block;
  }

  .aligner {
    display: none;
  }

  .nav-itens p,
  button {
    display: none;
  }
}
